
.footer {
	background: $navy;
	color: #fff;
}

.footer .container  {
	padding-top: $base*2;
	padding-bottom: $base*2;

	@include bp-min-width($medium) {
		padding-top: $base*2.75;
		padding-bottom: $base*2.75;
	}
}

.footer a {
	color: #fff;
}

.footer-logo {
	display: inline-block;
	margin-bottom: $base;
}

.footer-logo .icon-logo-mark {
	width: 46px;
	height: 46px;
}

.footer-mission {
	@include bp-max-width($medium) {
		margin-bottom: $base*2;
	}
}

.footer-mission p {
	max-width: 400px;
}

.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
}

.footer-nav li {
	width: 50%;
}
