
.message-bar {
	@include font-size(14px);
	padding: 6px;
	background: $salmon;
	color: $navy;
	text-align: center;

	@include bp-min-width($small) {
		padding: 12px;
	}
}

.header {
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	z-index: 100;
	background: $navy;

	@include bp-min-width($small) {
		top: 48px;
	}

	&.js-is-sticky {
		position: fixed;
		top: 0;
	}
}

.header .container {
	transition: height .25s ease-in;
	height: 72px;
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;

	@include bp-min-width($large) {
		height: 146px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header.js-is-sticky .container {
	position: relative;

	@include bp-min-width($large) {
		height: 84px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header-logo {
	@include absolute-center;
	transition: height .25s ease-in;
	display: block;
	height: 46px;
	z-index: 100;

	@include bp-min-width($large) {
		width: 108px;
		height: 86px;
	}
}

.js-is-sticky .header-logo {
	height: 46px;
}

.icon-logo {
	display: none;
	width: 108px;
	height: 87px;
}

.header .icon-logo-mark {
	@include horizontal-center;
	transition: width .25s ease-in, height .25s ease-in;
	top: 0;
	width: 46px;
	height: 46px;

	@include bp-min-width($large) {
		width: 60px;
		height: 60px;
	}
}

.icon-logo-type {
	@include horizontal-center;
	transition: opacity .25s ease-in;
	bottom: 0;
	opacity: 1;
	fill: #fefefe;
	width: 108px;
	height: 14px;

	@include bp-max-width($large) {
		display: none;
	}
}

.js-is-sticky .icon-logo-mark {
	width: 46px;
	height: 46px;
}

.js-is-sticky .icon-logo-type {
	opacity: 0;
}

.header-search,
.header-cart-link {
	@include vertical-center;
}

.header-cart-link {
	right: 0;

	@include bp-max-width($large) {
    right: 20px;
  }
}

.header-search {
	right: 80px;

	@include bp-min-width($large) {
		padding-left: 30px;
		right: 60px;
	}
}

.header-search [class^="icon-"],
.header-cart-link [class^="icon-"] {
	fill: #fff;
}

.header-search--form {
	@include bp-max-width($large) {
		display: none;
	}
}

.header-search--input {
	width: 160px;
	height: 30px;
	padding: 0 10px;
	border: none;
	background: transparent;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.header-search--btn {
	position: absolute;
	bottom: 0;
	left: 0;
	background: none;
}

.header-search .icon-search,
.mobile-search .icon-search {
	width: 26px;
	height: 26px;
}

.header-search--trigger {
	display: block;

	@include bp-min-width($large) {
		display: none;
	}
}

.header-cart-link {
	display: inline-block;
	padding-left: 12px;
}

.header-cart-link--count {
	position: absolute;
	top: -8px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	background: $salmon;
	border-radius: 50%;
}

.header-cart-link .icon-cart {
	width: 28px;
	height: 25px;
}

.mobile-search {
	overflow: hidden;
	transition: all .2s ease-in;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	background: $navy;

	&.js-is-visible {
		height: 72px;
		bottom: -72px;
	}

	@include bp-min-width($large) {
		display: none;
	}
}

.mobile-search--input {
	@include font-size(24px);
	width: 100%;
	height: 72px;
	padding-left: 20px;
	background: $grey;
	color: $navy;
}

.mobile-search--input::placeholder {
	color: $navy;
}

.mobile-search--btn {
	@include vertical-center;
	right: 20px;
	width: 30px;
	padding: 0;
	background: none;
}

.mobile-search--btn .icon-search {
	fill: $navy;
}
