
.main-nav .sub-menu {
  // transition: height .3s ease-in;
  display: none;
  overflow: hidden;
  width: 100%;
  background: #000;
}

.sub-menu li {
  @include font-size(18px);
  line-height: 2;
}

.sub-menu li:first-child {
  padding-top: 12px;
}

.sub-menu li:last-child {
  padding-bottom: 12px;
}

.sub-menu a {
  color: #fff;
  padding: 0 20px;
}

.hamburger {
  @include vertical-center;
  transition: none;
  display: flex;
  align-items: center;
  height: 30px;
  z-index: 10;
  left: 20px;

  @include bp-min-width($large) {
    display: none;
  }
}

.hamburger.js-is-active {
  transform: translateY(0);
  position: fixed;
  top: 20px;
}

.hamburger--bar {
  position: relative;
}

.hamburger--bar,
.hamburger--bar:before,
.hamburger--bar:after {
  @include global-transition(0.1s);
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
}

.hamburger--bar:before,
.hamburger--bar:after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger--bar:before {
  transform: rotate(0);
  top: -10px;
}

.hamburger--bar:after {
  transform: rotate(0);
  bottom: -10px;
}

.hamburger--bar {
  opacity: 1;
}

.js-is-active .hamburger--bar {
  position: absolute;
  background: $navy;

  &:before {
    opacity: 1;
    transform: rotate(45deg);
    top: 0;
  }

  &:after {
    transform: rotate(-45deg);
    bottom: 0;
  }
}
