
.main-nav {
  @include bp-min-width($large) {
    @include vertical-center;
    left: 0;
  }
}

.main-nav .menu {
  display: flex;

  @include bp-max-width($large) {
    display: none;
  }
}

.main-nav .menu.js-is-visible {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $navy;
}

.main-nav li:not(:last-child) {
  @include bp-max-width($large) {
    margin-bottom: $base;
  }

  @include bp-min-width($large) {
    margin-right: 30px;
  }
}

.main-nav li a {
  display: block;
  color: #fff;
  font-weight: $weight-medium;

  @include bp-max-width($large) {
    @include font-size(24px);
  }
}
