
.woocommerce-pagination {
	padding-bottom: $base;

	@include bp-min-width($medium) {
		padding-left: 220px;
		padding-top: $base;
		padding-bottom: $base*2;
	}
}

.page-numbers {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-numbers li:not(:last-child) {
	margin-right: 20px;
}

.page-numbers .current {
	color: $salmon;
}

.pager-icon {
	width: 11px;
	height: 11px;
	stroke: $navy;
	vertical-align: 0;
}
