
.page-header {
	padding: $base 0;
	text-align: center;

	@include bp-min-width($medium) {
		padding-top: $base*2;
		padding-bottom: $base*2;
	}

	@include bp-min-width($large) {
		padding-top: $base*3;
		padding-bottom: $base*3;
	}
}

.page-header p {
	display: inline-block;
	max-width: 760px;
}

.page-header .term-description {
	padding-top: $base;

	@include bp-max-width($large) {
		display: none;
	}
}
