
.product-images {
	margin-bottom: $base;

	@include bp-min-width($medium) {
		margin-bottom: $base*3;
	}
}

.woocommerce-product-gallery .flex-viewport {
	margin-bottom: 20px;
}

.woocommerce-product-gallery__wrapper,
.woocommerce-product-gallery__image {
	@include bp-min-width($medium) {
		height: 550px;
	}
}

.woocommerce-product-gallery__image {
	min-height: 0 !important;
}

.woocommerce-product-gallery__image a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 360px;
	padding: 20px;
	background: $grey;
	cursor: default;

	@include bp-min-width($medium) {
		height: 550px;
		padding: 40px;
	}
}

.woocommerce-product-gallery__image a > img {
	width: auto;
	height: auto;
	max-height: 100%;
}

.woocommerce-product-gallery {
	position: relative;
}

.woocommerce-product-gallery .flex-control-thumbs {
	@include cf;
	margin: 0;
	padding: 0;
}

.woocommerce-product-gallery .flex-control-thumbs li {
	cursor: pointer;

	img {
		transition: all ease .2s;
		opacity: .5;

		&.flex-active {
			opacity: 1;
		}
	}

	&:hover {
		img {
			opacity: 1;
		}
	}
}

.images {
	.woocommerce-main-image {
		display: block;
	}

	.thumbnails {
		a.zoom {
			display: block;
			width: 22.05%;
			margin-right: 3.8%;
			float: left;
			margin-bottom: 1em;

			&.last {
				margin-right: 0;
			}

			&.first {
				clear: both;
			}
		}
	}
}

.woocommerce-product-gallery .flex-control-thumbs {
	display: flex;
	margin-right: -10px;
	margin-left: -10px;
}

.flex-control-thumbs li {
	padding: 0 10px;
}

.product-images--thumbs {
	display: flex;
	padding-top: $base;
}

.product-images--thumb {
	width: 66px;
	border: 1px solid $grey;

	@include bp-min-width($medium) {
		width: 120px;
	}

	&.is-active {
		border: 1px solid $navy;
	}
}

.product-images--thumb:not(:last-child) {
	margin-right: 20px;
}

.woocommerce-product-gallery__trigger {
	display: none;
}
