
.grid-filters {
	padding-bottom: $base;

	@include bp-max-width($medium) {
		width: 50%;
		height: 66px;
		padding-right: 10px;
	}

	@include bp-min-width($medium) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.result-count {
	order: 1;

	@include bp-max-width($medium) {
		display: none;
	}
}

.products-list {
	position: relative;

	@include bp-min-width($medium) {
		display: flex;
	}
}

.product-grid-container {
	@include bp-min-width($medium) {
		width: calc(100% - 220px);
	}
}

.product-grid {
	@include bp-max-width($medium) {
		margin-left: -10px;
		margin-right: -10px;
	}
}

.product-grid--item {
	margin-bottom: 20px;

	@include bp-min-width($medium) {
		margin-bottom: 30px;
	}
}

.product-grid-container .product-grid--item {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;

	@include bp-min-width($medium) {
		padding-left: 14px;
		padding-right: 14px;
	}

	@include bp-max-width($large) {
		width: 50%;
  }

  @include bp-min-width($large) {
		width: 33.333%;
  }
}

.product-grid--item-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px 10px 16px 10px;
	background: $grey;
	text-align: center;

	@include bp-min-width($medium) {
		padding: 10px 20px 30px 20px;
	}
}

.product-grid--thumb {
	max-width: 300px;
	margin-bottom: 12px;
	margin: 0 auto 6px;

	@include bp-min-width($medium) {
		display: inline-block;
		position: relative;
		width: 100%;
	}
}

.product-grid--thumb:after {
	@include bp-min-width($medium) {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

.product-grid--thumb img {
	@include bp-min-width($medium) {
		@include horizontal-center;
		bottom: 0;
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}

.product-grid--product-title {
	margin-bottom: 2px;
	font-family: $sans;
	font-weight: $weight-medium;
	line-height: 1.25;

	@include bp-max-width($small) {
		@include font-size(14px);
		margin-bottom: 6px;
	}
}

.product-grid--category-title {
	@include bp-max-width($small) {
		@include font-size(18px);
		hyphens: auto;
		width: 100%;
	}
}

.product-grid--product-type {
	font-weight: $weight-regular;
}

.product-grid .price {
	@include bp-max-width($small) {
		@include font-size(14px);
	}
}

.woocommerce-info {
	@include font-size(18px);
	margin-bottom: $base*4;
	text-align: center;
}
