
.onsale {
  @include font-size(14px);
	position: absolute;
	top: 0;
	left: 0;
  z-index: 10;
	padding: 2px 12px;
	background: $salmon;
	color: $navy;
  font-weight: $weight-medium;
  text-transform: uppercase;
}

.product-grid--thumb .onsale {
  @include bp-min-width($small) {
    top: -10px;
    left: -20px;
  }
}

.product .onsale {
  @include bp-max-width($large) {
    left: 20px;
  }
}

.price del {
	color: $md-grey;
}
