
.secondary-nav {
  background: $salmon;
}

.secondary-nav .container {
  padding-top: 12px;
  padding-bottom: 12px;

  @include bp-min-width($large) {
    padding-top: $base;
    padding-bottom: $base;
  }
}

.secondary-nav a {
  margin-right: 20px;
  color: #fff;
  font-weight: $weight-medium;
}

.sidebar-nav {
  line-height: 1.666;

  @include bp-min-width($medium) {
    width: 276px;
  }
}

.sidebar-nav .title__h5 {
  line-height: 1.666;
}

.sidebar-nav a {
  display: block;

  &:hover {
    color: $salmon;
  }
}
