
a {
  transition: all .1s ease-in;
  color: $navy;
}

@mixin btn {
  @include font-size(18px);
  transition: all .1s ease-in;
  display: inline-block;
  padding: 13px 24px;
  background: none;
  border-style: solid;
  border-width: 2px;
  line-height: 1;
  font-weight: $weight-medium;
  text-align: center;
}

.btn,
.button {
  @include btn;
}

@mixin btn__navy {
  border-color: $navy;
  color: $navy;

  &:hover {
    background: $navy;
    color: #fff;
  }
}

@mixin btn__salmon {
  border-color: $salmon;
  color: $salmon;

  &:hover {
    background: $salmon;
    color: $navy;
  }
}

@mixin btn__white {
  border-color: #fff;
  color: #fff;

  &:hover {
    background: #fff;
    color: $navy;
  }
}

@mixin btn__grey {
  border-color: $grey;
  color: $grey;

  &:hover {
    background: $grey;
    color: $navy;
  }
}

@mixin btn__md-grey {
  border-color: $md-grey;
  color: $md-grey;

  &:hover {
    background: $md-grey;
    color: $navy;
  }
}

@mixin btn__solid-navy {
  border-color: $navy;
  background: $navy;
  color: #fff;

  &:hover {
    background: transparent;
    color: $navy;
  }
}

@mixin btn__solid-salmon {
  border-color: $salmon;
  background: $salmon;
  color: $navy;

  &:hover {
    background: transparent;
    color: $salmon;
  }
}

@mixin btn__solid-grey {
  border-color: $grey;
  background: $grey;
  color: $navy;

  &:hover {
    border-color: $navy;
  }
}

.btn__navy {
  @include btn__navy;
}

.btn__salmon {
  @include btn__salmon;
}

.btn__white {
  @include btn__white;
}

.btn__grey {
  @include btn__grey;
}

.btn__md-grey {
  @include btn__md-grey;
}

.btn__solid-navy {
  @include btn__solid-navy;
}

.btn__solid-grey {
  @include btn__solid-grey;
}

.btn__borderless {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
}

input[type="submit"],
input[type="button"],
button {
  transition: all .1s ease-in;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.submit-wrap input {
  @include btn;
  @include btn__solid-navy;
  height: 48px;
}
