
.js-no-scroll {
  @include bp-max-width($large) {
    overflow: hidden;
    height: 100%;
  }
}

.main {
  padding-top: 72px;

  @include bp-min-width($large) {
    padding-top: 146px;
  }
}

.container {
  max-width: 1264px;
  margin: 0 auto;

  @include bp-max-width($large) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include bp-min-width($large) {
    width: 94%;
  }
}

.is-hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
