
.woocommerce-message {
  padding: 12px 20px;
  background: $salmon;
  color: $navy;
  text-align: center;
  color: #fff;
}

.woocommerce-message .button {
  @include btn__navy;

  @include bp-max-width($medium) {
    width: 100%;
    margin-bottom: 12px;
  }

  @include bp-min-width($medium) {
    margin-right: 20px;
  }
}
