
.cart .container {
	padding-bottom: $base*2;

	@include bp-min-width($large) {
		padding-bottom: $base*4;
	}
}

.cart .woocommerce-message {
	margin-bottom: $base;
}

.shop_table {
	width: 100%;
}

.col-3-4.cart-product-list {
	@include bp-max-width($large) {
		margin-bottom: $base;
	}

	@include bp-min-width($large) {
		padding-right: 40px;
	}
}

.product-list-table th {
	@include font-size(13px);
	border-bottom: 1px solid $grey;
	font-weight: $weight-medium;
	text-transform: uppercase;
	letter-spacing: .05em;

	@include bp-max-width($medium) {
		position: absolute;
		top: -9999em;
		left: -9999em;
	}
}

.product-list-table td {
	@include bp-max-width($medium) {
		display: block;
		position: relative;
		padding: 4px 0 4px 50%;
	}
}

.product-list-table .product-remove {
	@include bp-max-width($medium) {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.product-list-table .product-price:before,
.product-list-table .product-quantity:before,
.product-list-table .product-subtotal:before {
	@include bp-max-width($medium) {
		@include vertical-center;
		@include font-size(13px);
		display: block;
		left: 0;
		font-weight: $weight-medium;
		text-transform: uppercase;
	}
}

.product-list-table .product-price:before {
	@include bp-max-width($medium) {
		content: 'Price';
	}
}

.product-list-table .product-quantity:before {
	@include bp-max-width($medium) {
		content: 'Quantity';
	}
}

.product-subtotal:before {
	@include bp-max-width($medium) {
		content: 'Total';
	}
}

.product-remove a {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -999em;
}

.product-remove a:before,
.product-remove a:after {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	width: 20px;
	height: 2px;
	background: $navy;
}

.product-remove a:before {
	transform: rotate(45deg);
}

.product-remove a:after {
	transform: rotate(-45deg);
}

.product-list-table td.product-thumbnail {
	@include bp-max-width($large) {
		width: 72px;
		padding: 0;
	}

	@include bp-min-width($large) {
		width: 144px;
		padding: 40px 20px 0;
	}
}

.product-list-table .product-name {
	text-align: left;
}

.product-list-table td.product-name {
	@include font-size(18px);
	font-weight: $weight-medium;
	@include bp-max-width($large) {
		padding-left: 0;
	}
}

.product-list-table .product-price,
.product-list-table .product-quantity {
	@include bp-min-width($medium) {
		text-align: center;
	}
}

.product-list-table .product-quantity label {
	display: none;
}

.product-subtotal {
	@include bp-min-width($medium) {
		text-align: right;
	}
}

td.product-subtotal {
	@include bp-max-width($medium) {
		margin-bottom: 30px;
	}
}

.cart-footer {
	@include bp-min-width($medium) {
		display: flex;
		justify-content: space-between;
		padding-top: $base*2;
	}
}

.cart-coupon {
	@include bp-max-width($medium) {
		margin-bottom: $base;
	}

	@include bp-min-width($medium) {
		position: relative;
		width: 400px;
		padding-right: 180px;
	}
}

.cart-coupon .input-text {
	border: 2px solid $navy;
	height: 48px;

	@include bp-max-width($medium) {
		margin-bottom: 12px;
	}
}

.cart-coupon .button {
	@include btn__solid-navy;

	@include bp-max-width($medium) {
		width: 100%;
	}

	@include bp-min-width($medium) {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.cart-footer .btn {
	@include bp-max-width($medium) {
		width: 100%;
	}
}

.cart_totals  {
	position: relative;
	padding: 20px;
	border: 1px solid $grey;
}

.cart_totals h2 {
	margin-bottom: $base;
	text-align: center;
	font-weight: $weight-medium;

  @include bp-min-width($medium) {
    @include font-size(18px);
  }
}

.cart-collaterals th {
	padding: 4px 0;
	text-align: left;
}

.cart-collaterals td {
	padding: 4px 0;
	text-align: right;
}

.order-total {
	font-weight: $weight-medium;
}

.wc-proceed-to-checkout {
	padding-top: $base;
}

.checkout-button {
	@include btn__solid-navy;
	width: 100%;
}

.cart-empty {
	margin-bottom: $base;
	text-align: center;
}

.return-to-shop {
	text-align: center;
}
