
.woocommerce-checkout .message-bar,
.woocommerce-checkout .main-nav,
.woocommerce-checkout .header-search,
.woocommerce-checkout .header-cart-link,
.woocommerce-checkout .page-header,
.woocommerce-checkout .bottom-content {
	display: none;
}

.woocommerce-checkout .header {
	position: relative;
	top: auto;
}

.woocommerce-checkout .header .container {
	height: 84px;
}

.woocommerce-checkout .header-logo {
	@include vertical-center;
	left: 20px;
	width: auto;
	height: 46px;

	@include bp-min-width($large) {
		height: 60px;
		left: 0;
	}
}

.woocommerce-checkout .icon-logo-mark {
	margin-bottom: 0;
	margin-right: 12px;
}

.woocommerce-checkout .main {
	padding-top: $base;

	@include bp-min-width($medium) {
		padding-top: 48px;
	}
}

.checkout-summary .woocommerce {
	padding: 0;
	border: 1px solid $grey;
}

.checkout-summary .woocommerce-info {
	display: none;
}

#klarna-checkout-widget table {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
}

#klarna-checkout-widget > div:last-child {
	padding-top: 10px;
	padding-bottom: 10px;
	background: $pale-grey;
}

#klarna-checkout-widget th {
	@include font-size(12px);
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $grey;
	text-transform: uppercase;
}

#klarna-checkout-widget th:last-child {
	width: 80px;
}

#klarna-checkout-widget td,
#klarna-checkout-widget th {
	line-height: 1.125;

	&:first-child {
		padding-left: 20px;
	}

	&:last-child {
		padding-right: 20px;
	}
}

#klarna-checkout-widget td {
	@include font-size(13px);
}

#klarna-checkout-cart td {
	padding-top: 10px;
	padding-bottom: 10px;
}

#klarna-checkout-widget .product-quantity label {
	display: none;
}

#klarna-checkout-widget input[type=number] {
	border: none;
}

.checkout label {
	display: block;
	margin-bottom: 4px;
	font-size: 1rem;
}

.select2-container .select2-choice {
	height: 40px;
	padding: 0 20px;
	border: 1px solid $navy;
	border-radius: 0;
	line-height: 2;
}
